header{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
}
.cabesalho{
    width: 20%;
    display: flex;
}
.entra {
    display: inline-block;
    margin: 0 10px;
}